/**
 * Copyright (C) 2012-2014 Laurent Zubiaur
 *
 * All Rights Reserved.
 *
 * NOTICE: The license and distribution terms for this file may be
 * found in the file LICENSE in this distribution or at 
 * http::/www.pix2d.com/license/LICENSE.
 *
 * @file:   __FILE__
 * @author: Laurent Zubiaur
 * @brief: 
 *
 */
